h1 {
    font-family: sans-serif;
    font-size: 36px;
}

h2 {
    font-family: sans-serif;
    font-size: 28px;
    margin-left: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    max-width: 1160px;
    margin: 0 auto;
    font-family: sans-serif;
}

.nav {
    display: flex;
    margin-bottom: 1rem;
    background: linear-gradient(to top, #b11b1b 0%, #8c1515 100%);
}

.menuItem {
    font-size: 18px;
    line-height: 1.5rem;
    padding: .5rem;
    text-decoration: none;
    color: #ffffff;
}

.menuItemSelected {
    font-size: 18px;
    line-height: 1.5rem;
    padding: .5rem;
    background: #580E0E;
    color: #ffffff;
}

.section {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}

.section-about {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
}

.section-background {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: nowrap;
}

.footer {
    margin-top: 2rem;
    border-top: .18rem solid #8c1515;
    font-size: 12px;
}

.footerp {
    font-size: 12px;
    line-height: 1rem;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding: 16px;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #a7a7a7;
    font-size: 100%;
}

tfoot {
    background-color: #666666;
    color: #dddddd;
    font-size: 100%;
}

ul {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    line-height: 1.5rem;
}

.profile-img {
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: space-around;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

.figimg {
    width: auto;
    height: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.container-column {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.container-image {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.print-line {
    display: none;
}

.video {
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: row;
    column-gap: 20%;
}

.formElement {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin: 10px;
}

.label {
    padding-bottom: 5px;
    padding-top: 5px;

}

.input {
    padding: 9px;
    margin-bottom: 5px;
}

.socialBlock {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 400px;
}

.buttonClass {
    font-size: 1rem;
    font-weight: normal;
    background-color: #8c1515;
    color: #fff;
    padding: 10px 24px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 10px;

}

aside {
    border-right: 1px solid #ededed;
    background: #36c;
    flex: 1 0 10%;
    padding: 1rem;
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background: linear-gradient(to top, #b11b1b 0%, #8c1515 100%);
    height: 40px;
}

.hamburger {
    display: none;
    margin-left: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.nav-item {
    margin-left: 5rem;
    font-size: 18px;
    line-height: 1.5rem;
    padding: .5rem;
    text-decoration: none;
    color: #ffffff;
}

.nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5rem;
    padding: .5rem;
    background: #580E0E;
    color: #ffffff;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.activeMenu {
    border-bottom: 3px solid;
}

.a-general {
    text-decoration: underline;
    color: blue;
}

.error {
    font-size: 13px;
    color: red;
}

/*Slideshow*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dotposition {
    margin-left: 43%;
    margin-top: 15px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*----------------------------------------Media queries for responsive styles--------------------------------------------*/

/* Styles to handle tables in Phones mode */

@media only screen and (min-width: 320px) and (max-width: 501px) {
    table, thead, tbody, th, td, tr, tfoot {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        content: attr(data-label);
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    table td:last-child {
        border-bottom: 0;
    }

    tfoot tr {
        color: #000000;
        background-color: #2d5372;
    }

    .section-about {
        flex-wrap: wrap;
        gap: 0px
    }

    .profile-img {
        width: 90%;
        height: auto;
    }

    .section-background {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-wrap: nowrap;
    }

    .container {
        display: block;
    }

    .formElement {
        display: flex;
        width: 95%;
        flex-direction: column;
        margin: 10px;
    }

    .form {
        width: 100%;
    }

    .figimg {
        width: 90%;
        height: auto;
    }

    h2 {
        font-size: 24px;
    }

    li {
        font-size: 14px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #fff;
        width: 40%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin-left: 0rem;
        font-size: 18px;
        line-height: 1.5rem;
        padding: .5rem;
        text-decoration: none;
        color: #ffffff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    a {
        text-decoration: none;
        color: black
    }
}

/*Styles for tablet*/
@media only screen and (min-width: 502px) and (max-width: 1079px) {
    .figimg {
        width: 340px;
        height: auto;
    }

    li {
        font-size: 14px;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #fff;
        width: 40%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin-left: 0rem;
        font-size: 18px;
        line-height: 1.5rem;
        padding: .5rem;
        text-decoration: none;
        color: #ffffff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    a {
        text-decoration: none;
        color: black
    }
}